<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
</head>
<body>
    <div id="header">
        <a href="<%= cookie.link %>">личный кабинет</a>
    </div>
    <!-- рекомендаций пользователья (реализовать с помощью cookie)-->
</body>
</html>